body{
    margin: 0;
    padding: 0;
    padding-top: 15px;
    overflow-x: hidden;
    background-image: url(/asset/image/image_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title_bar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}
.logo_name{
    position: relative;
    left: 30px;
    color: #333;
    font-size: 1.75rem;
    font-family: "Fjord One", serif;
    font-weight: 400;
    font-style: normal;
}
.menu_items{
    position: relative;
    left: 30px;
    display: flex;
    gap: 35px;
}
.menu_items div a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    transition: color 0.3s ease ;
    color: #333;
}
.menu_items div a:hover{
    color: #adadad;
}
.menu_icon{
    display: flex;
    flex-direction: column;
    gap: 3.5px; 
    position: relative;
    left: 42.5vw;
}
.menu_icon div{
    height: 3.5px;
    width: 25px;
    border-radius: 5px;
    background-color: #333;
}
.profile_pht{
    height: 30px;
    width: 30px;
    background-image: url(/asset/image/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    position: relative;
    left: 45vw;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 100px;
    padding-top: 50px;
    height: 80vh;
}
.platform-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 1000px;
    flex-wrap: wrap;
}

.platform-card {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-image: url(/asset/image/image_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.207);
}
.platform-card a{
    color: #333;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
.platform-card:hover {
    transform: scale(1.02);
}

.platform-logo {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 10px;
}

.platform-card h2 {
    margin: 0;
    font-size: 1.5rem;
}

.platform-card p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.progress-bar {
    background: #eee;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

.progress-fill {
    height: 100%;
    border-radius: 5px;
}

.leetcode {
    width: 65%;
    background: #f89b29;
}
.codechef {
    width: 45%;
    background: #ff5f6d;
}
.hackerrank {
    width: 80%;
    background: #35797e;
}
.hackerearth {
    width: 55%;
    background: #007bff;
}
.github {
    width: 90%;
    background: #24292e;
}
.road{
    width: 50%;
    background: #6cb5ff;
}
