body{
    margin: 0;
    padding: 0;
    padding-top: 15px;
    overflow-x: hidden;
    background-image: url(/asset/image/image_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title_bar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}
.logo_name{
    position: relative;
    left: 30px;
    color: #333;
    font-size: 1.75rem;
    font-family: "Fjord One", serif;
    font-weight: 400;
    font-style: normal;
}
.menu_items{
    position: relative;
    left: 30px;
    display: flex;
    gap: 35px;
}
.menu_items div a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    transition: color 0.3s ease ;
    color: #333;
}
.menu_items div a:hover{
    color: #adadad;
}
.menu_icon{
    display: flex;
    flex-direction: column;
    gap: 3.5px; 
    position: relative;
    left: 42.5vw;
}
.menu_icon div{
    height: 3.5px;
    width: 25px;
    border-radius: 5px;
    background-color: #333;
}
.profile_pht{
    height: 30px;
    width: 30px;
    background-image: url(/asset/image/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    position: relative;
    left: 45vw;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-top: 50px;
    height: 80vh;
    gap: 20px;
}
.resources {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    width: 100%;
}

.resource-card {
    margin-top: 50px;
    border-radius: 18px;
    background-image: url(/asset/image/image_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.207);
}
.resource-card:hover {
    transform: translateY(-5px);
}

.resource-card h2 {
    font-size: 1.3rem;
    color: #222;
    margin-bottom: 12px;
    font-family: "Roboto", sans-serif;
}

.resource-card ul {
    position: relative;
    left: 40px;
    list-style: circle;
    padding: 0;
    margin: 0;
}

.resource-card ul li {
    margin-bottom: 10px;
}

.resource-card ul li a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    transition: color 0.3s ease;
}

.resource-card ul li a:hover {
    color: #004a99;
}
